nav {
  height: 120px;
  top: 0;
  width: 100% !important;
  background-image: url(../images/black-mamba.png);
  color: #ffffff;
  display: flex;
  background-color: #4056A1;
  
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-family: 'Bungee', sans-serif;
  padding: 1.5em;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
i {
  color: red;
}