article.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em;
  border: 2px solid;
  height: 400px ;
}
article.tweet header {
  display: flex;
  justify-content: space-between;
  background-color: #f4f1ec;
 background-image: none;
 margin-top: 1px;
 height: 130px;
}
article.tweet header div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

}

article.tweet header img{
  height: 130px;
  background-color: #f4f1ec;
  
}
article.tweet p {

 margin: 1em;
  border-bottom: 2px solid;
  background-color: #f4f1ec;
  text-align: justify;
 
  word-wrap: break-word;
  
}
article.tweet footer{
  display: flex;
    
  justify-content: space-between;
    
}
article.tweet footer div{
  display: flex;
  flex-direction: row;
}

article.tweet i {
 
  margin: 10px;
  padding: 5px ;
  margin-top: 2px;
  color: rgb(45, 45, 141);
}
article.tweet i:hover{
  color: rgb(250, 149, 8);
}

article.tweet:hover {
  box-shadow: 5px 5px;
  color: rgb(108, 89, 89);
}
article.tweet header h5 {
  margin-right: 2em;
}

#error_messge {
  
  background: #fb85a6 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative; 
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  visibility: hidden;
}
